@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.youtube8 {
  position: relative;
  text-transform: uppercase;
}
.youtube-wrapper6 {
  text-decoration: none;
  box-shadow: 0 0 0 3px #323232;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl);
  cursor: pointer;
  color: inherit;
}
.frame-child6 {
  width: 11px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-dimgray);
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent6,
.frame-wrapper6,
.header8 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.frame-wrapper6 {
  text-decoration: none;
  width: 22px;
  box-shadow: 0 2px 7.9px -1px rgba(117, 117, 117, 0.49);
  border-radius: var(--br-4xs);
  background-color: var(--color-gray-400);
  height: 18px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-10xs);
  box-sizing: border-box;
  cursor: pointer;
}
.frame-parent6,
.header8 {
  justify-content: space-between;
}
.frame-parent6 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-3xs);
}
.header8 {
  align-self: stretch;
  align-items: flex-end;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-silver);
  font-family: var(--font-syne);
}
.taking-it-easy10 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.h117 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.my-right-ankle1 {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.ever-so-blue1 {
  margin: 0;
}
.my-right-ankle-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  font-weight: 300;
  font-family: var(--font-sf-pro-rounded);
}
.boxx13,
.vegee-wrapper7 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.boxx13 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.vegee-wrapper7 {
  border-radius: var(--br-3xs);
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.and-when-im-all-alonedark,
.and-when-im-all-alonedark-inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.and-when-im-all-alonedark-inner {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-5xs);
  font-family: var(--font-syne);
}
.and-when-im-all-alonedark {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  align-items: flex-start;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-reem-kufi);
}
.and-when-im-all-alonedark.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
