@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.youtube2 {
  position: relative;
  text-transform: uppercase;
}
.youtube-frame {
  text-decoration: none;
  box-shadow: 0 0 0 3px #e4e4e4;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl);
  cursor: pointer;
  color: inherit;
}
.frame-inner {
  width: 11px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-a {
  text-decoration: none;
  width: 22px;
  box-shadow: 0 3px 6.5px rgba(70, 70, 70, 0.23);
  border-radius: var(--br-4xs);
  background-color: var(--color-gray-100);
  height: 18px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-10xs);
  box-sizing: border-box;
  cursor: pointer;
}
.frame-a,
.frame-div,
.h14,
.header1 {
  overflow: hidden;
  display: flex;
}
.frame-div {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs);
}
.h14,
.header1 {
  align-self: stretch;
}
.header1 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-syne);
}
.h14 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.my-right-ankle {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.ever-so-blue {
  margin: 0;
}
.my-right-ankle-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  font-weight: 300;
  font-family: var(--font-sf-pro-rounded);
}
.boxx2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.crumpled-papers-and {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.vegee-frame {
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.and-when-im-all-alonelight,
.and-when-im-all-alonelight-inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.and-when-im-all-alonelight-inner {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-5xs);
  font-family: var(--font-syne);
}
.and-when-im-all-alonelight {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.and-when-im-all-alonelight.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
