@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.taking-it-easy14 {
  height: 33px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-reem-kufi);
  color: var(--color-black);
  text-align: center;
}
.h117 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.you-just-finished {
  align-self: stretch;
  position: relative;
  text-transform: lowercase;
}
.boxx14 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.taking-it-easy15 {
  width: 176px;
  height: 33px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.h118 {
  width: 184px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.alas-they-sting,
.all-i-can,
.cant-put-my,
.friday,
.go-feel-the,
.hell-make-it,
.i-dont-think,
.i-saw-a,
.i-still-cant1,
.i-was-doing,
.i-was-just,
.im-depressed,
.it-keeps-you,
.its-all-sticks,
.its-tuesday,
.make-it-your,
.or-that-big,
.sit-on-grass,
.the-feel-good,
.thursday,
.touch-leaves,
.wear-bright-colors,
.wednesday,
.what-do-my,
.worst-of-all,
.worst-part-is {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.youve-got-the {
  margin: 0;
}
.its-tuesday-im-container {
  align-self: stretch;
  height: 811px;
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  display: inline-block;
  font-family: var(--font-turret-road);
  text-align: left;
}
.boxx15,
.taking-it-easy16 {
  font-size: var(--font-size-3xl);
  font-family: var(--font-reem-kufi);
  color: var(--color-black);
  text-align: center;
}
.boxx15 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.taking-it-easy16 {
  height: 33px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.h119 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-delight-to,
.as-i-sit,
.for-a-split,
.how-long-they,
.i-saw-lightning,
.its-so-blue,
.like-its-too,
.my-right-ankle,
.slumped-over-as,
.that-one-sent,
.the-cherry-and {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.ever-so-blue {
  margin: 0;
}
.my-right-ankle-container {
  align-self: stretch;
  height: 357px;
  position: relative;
  text-transform: lowercase;
  display: inline-block;
}
.boxx16 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.taking-it-easy17 {
  height: 33px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-reem-kufi);
  color: var(--color-black);
  text-align: center;
}
.h120 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-these-jumping,
.barry-barry,
.but-of-course,
.i-just-hope,
.its-gonna-get,
.what-use-are {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.call-me-back {
  margin: 0;
}
.barry-barry-all-container {
  align-self: stretch;
  position: relative;
  text-transform: lowercase;
}
.boxx17 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.taking-it-easy18 {
  height: 33px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-reem-kufi);
  color: var(--color-black);
  text-align: center;
}
.h121 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.as-i-go,
.as-i-remember,
.but-armor-hung,
.hazel-clear-eyes-that,
.like-a-sad,
.my-nostrils-welcome,
.the-epitome-of,
.the-theater-of,
.will-swallow-whoever {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.the-theater-of1 {
  margin: 0;
}
.the-theater-of-container {
  align-self: stretch;
  height: 318px;
  position: relative;
  text-transform: lowercase;
  display: inline-block;
}
.boxx18,
.crumpled-papers-and {
  color: var(--color-black);
  text-align: left;
}
.boxx18 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--font-size-mid);
  font-family: var(--font-turret-road);
}
.crumpled-papers-and {
  height: 33px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-reem-kufi);
}
.h122 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dragging-ink-all,
.have-i-wronged,
.i-face-it,
.i-try-writing,
.is-it-my,
.its-like-none,
.like-a-drunken,
.no-but-really,
.no-greater-mystery,
.only-god-forbid,
.remember,
.should-i-assign,
.that-one-that,
.theyre-crawling-up,
.well-im-neck,
.when-you-told,
.you-took-my {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.what-am-i {
  margin: 0;
}
.i-try-writing-container {
  align-self: stretch;
  position: relative;
  text-transform: lowercase;
}
.boxx19 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.i-love-you1 {
  height: 33px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.h123 {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.alas-you-never,
.and-thought-of,
.and-when-im,
.be-it-near,
.but-i-could,
.but-i-made,
.but-we-danced,
.i-chuckle,
.i-really-hope,
.i-spit-out,
.keeping-busy-whether,
.kicking-sand-on,
.my-interlude-to,
.not-knowing-where,
.now-i-look,
.oh-the-places,
.perhaps-thats-why,
.remember-noir-we,
.running-round,
.wish-we-knew,
.you-told-me {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.oh-god-i {
  margin: 0;
}
.i-really-hope-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  font-family: var(--font-turret-road);
}
.boxx20 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.vegee2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.and-when-im-all-alone,
.f-r-a-m-e,
.parent-frame {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.parent-frame {
  width: 104px;
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.and-when-im-all-alone,
.f-r-a-m-e {
  justify-content: flex-start;
}
.f-r-a-m-e {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.and-when-im-all-alone {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
}
.and-when-im-all-alone.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
