@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bhs1 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.bhs-wrapper {
  width: 187px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.contact {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}
.contact-wrapper,
.frame-parent {
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs);
}
.contact-wrapper {
  text-decoration: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: inherit;
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.imgbox,
.imgbox1,
.imgbox10,
.imgbox11,
.imgbox2,
.imgbox3,
.imgbox4,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  text-decoration: none;
  align-self: stretch;
  height: 501px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/imgbox@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.imgbox1,
.imgbox10,
.imgbox11,
.imgbox2,
.imgbox3,
.imgbox4,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox1@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox2,
.imgbox3,
.imgbox4,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox2@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox3,
.imgbox4,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox3@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox4,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox4@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox5@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox6,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox6@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox7,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox7@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox8,
.imgbox9 {
  background-image: url(./public/imgbox8@3x.png);
}
.imgbox10,
.imgbox11,
.imgbox9 {
  background-image: url(./public/imgbox9@3x.png);
}
.imgbox10,
.imgbox11 {
  background-image: url(./public/imgbox10@3x.png);
}
.imgbox11 {
  background-image: url(./public/imgbox11@3x.png);
}
.vegee7 {
  position: relative;
  text-transform: lowercase;
  font-weight: 600;
}
.bhs,
.bhs-inner,
.vegee-wrapper4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.vegee-wrapper4 {
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.bhs,
.bhs-inner {
  justify-content: flex-start;
}
.bhs-inner {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xs);
  font-family: var(--font-reem-kufi);
}
.bhs {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  font-family: var(--font-tourney);
}
.bhs.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
