body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-reem-kufi: "Reem Kufi";

  /* Colors */
  --color-black: #000;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;

  /* Border radiuses */
  --br-8xs: 5px;
}
