.logo-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.nav {
  align-self: stretch;
  background-color: var(--new);
  box-shadow: 0 2px 10px rgba(129, 129, 129, 0.51);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-31xl) 139px;
}
.read1 {
  position: relative;
  font-weight: 500;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-sf-pro-display);
}
.pic-icon {
  position: relative;
  border-radius: var(--br-4xs);
  width: 318px;
  height: 279px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.damilare {
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-avenir);
  background: linear-gradient(151.15deg, red, rgba(6, 1, 249, 0.85));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pragma,
.pragma-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pragma {
  border-radius: var(--br-xl);
  background-color: var(--new);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  padding: var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xl);
  cursor: pointer;
}
.pic-icon1 {
  position: relative;
  border-radius: var(--br-4xs);
  width: 278px;
  height: 279px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.taking-it-easy {
  position: relative;
  letter-spacing: 0.01em;
}
.pragma-parent,
.tie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.tie {
  border-radius: var(--br-xl);
  background-color: var(--new);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: var(--padding-mini);
}
.pragma-parent {
  flex: 1;
  padding: var(--padding-31xl) 12px;
}
.content,
.pragma-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content {
  align-self: stretch;
  align-items: flex-start;
}
.pragma-wrapper {
  flex: 1;
  overflow-x: auto;
  align-items: center;
  padding: var(--padding-31xl) var(--padding-xl);
}
.content1,
.read,
.title-parent {
  display: flex;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  overflow: auto;
  flex-direction: row;
  align-items: center;
}
.read,
.title-parent {
  flex-direction: column;
  align-items: flex-start;
}
.title-parent {
  align-self: stretch;
  padding: 30px 10px var(--padding-xl);
  gap: 10px;
}
.read {
  position: relative;
  background-color: var(--new);
  width: 100%;
  padding: 0 0 51px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
