@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.a-few-of,
.a-short-officer,
.a-slim-tall,
.a-smile-creeps,
.a-term-for,
.ahem,
.ahh-look-at,
.ahhh-heard-me,
.all-the-sweet,
.and-what-is,
.and-you-these,
.as-you-fine,
.atlanta-georgia,
.babushka,
.bedford-rd1,
.but-officer-i,
.but-what-fucks,
.constantine,
.constantine-curses-on,
.constantine-giggles,
.constantine-hisses-the,
.constantine-softly-responds,
.constantine-trails-off,
.constantine-who-has,
.constantine1,
.constantine10,
.constantine11,
.constantine12,
.constantine2,
.constantine3,
.constantine4,
.constantine5,
.constantine6,
.constantine7,
.constantine8,
.constantine9,
.constantines-voice-breaks,
.constantines-voice-starts,
.deardeardear,
.dont-talk-like,
.dont-you-call,
.feel-it,
.get-the-fuck,
.go-on-son,
.he-clears-his,
.he-mutters-aloud,
.he-nods,
.he-points-past,
.he-says-laughingly,
.he-sharply-points,
.her-sobbing-growing,
.hes-slashing-a,
.hes-turned-to,
.hold-on-now,
.how-else-is,
.how-the-fuck,
.i-dont-fucking,
.i-dont-know,
.i-dont-know1,
.i-got-to,
.i-leave-now,
.i-love-you2,
.i-reckon-we,
.i-sang-drank,
.i-told-you,
.i-went-there,
.if-he-so,
.im-almost-home,
.im-putting-this,
.im-so-wet,
.it-can-wait,
.it-is-not,
.it-means-whatever,
.its-a-warm,
.its-constantine,
.its-even-no,
.its-not-my,
.its-not-uncommon,
.its-simple-a,
.its-the-man,
.just-walk-faster,
.listen-here-crackers,
.listen-here-you,
.looks-to-me,
.matilda,
.matilda-drops-her,
.matilda-glares-up,
.matilda-jerks-away,
.matilda-laughs,
.matilda-puts-her,
.matilda-responds-and,
.matilda-responds-in,
.matilda-says-coldly,
.matilda-sharply-turns,
.matilda-softly-says,
.matilda-sternly-cuts,
.matilda-suddenly-gasps,
.matilda-yells-from,
.matilda1,
.matilda10,
.matilda11,
.matilda12,
.matilda13,
.matilda14,
.matilda15,
.matilda16,
.matilda17,
.matilda18,
.matilda19,
.matilda2,
.matilda20,
.matilda21,
.matilda22,
.matilda23,
.matilda24,
.matilda3,
.matilda4,
.matilda5,
.matilda6,
.matilda7,
.matilda8,
.matilda9,
.matildas-eyes-widen,
.matildas-glare-shakes,
.men-like-him,
.my-dear-can,
.my-dear-constantine,
.my-ears-work,
.no,
.not-another-word,
.now,
.now-constantine,
.officer,
.oh-bedford-its,
.oh-fuck-you,
.oh-fuck-you1,
.oh-i-was,
.oh-what-the,
.ol-lady-just,
.one-of-pragmas,
.one-of-the,
.pardon-me-i,
.pragma-breaks-into,
.pragma-checks-the,
.pragma-chuckles-as,
.pragma-chuckles-without,
.pragma-clears-his,
.pragma-glares-at,
.pragma-grabs-matilda,
.pragma-is-standing,
.pragma-is-walking,
.pragma-its-for,
.pragma-looks-across,
.pragma-looks-at,
.pragma-looks-down,
.pragma-looks-towards,
.pragma-nods,
.pragma-now-taken,
.pragma-on-the,
.pragma-on-the1,
.pragma-pauses-as,
.pragma-quickly-but,
.pragma-rearranges-his,
.pragma-repeats-immediately,
.pragma-responds-softly,
.pragma-rests-his,
.pragma-says-ever,
.pragma-sits-uprights,
.pragma-softly-smiles,
.pragma-steps-out,
.pragma-stops,
.pragma-stutters-as,
.pragma-swallows-bitterly,
.pragma-the-sheriffs,
.pragma-walks-faster,
.pragma10,
.pragma11,
.pragma12,
.pragma13,
.pragma14,
.pragma15,
.pragma16,
.pragma17,
.pragma18,
.pragma19,
.pragma2,
.pragma20,
.pragma21,
.pragma22,
.pragma23,
.pragma24,
.pragma25,
.pragma26,
.pragma27,
.pragma28,
.pragma29,
.pragma3,
.pragma30,
.pragma31,
.pragma32,
.pragma33,
.pragma34,
.pragma35,
.pragma36,
.pragma37,
.pragma38,
.pragma39,
.pragma4,
.pragma40,
.pragma41,
.pragma5,
.pragma6,
.pragma7,
.pragma8,
.pragma9,
.pragmas-arms-drop,
.pragmas-eyes-light,
.raspy-voice,
.see-hold-on,
.see-officer-what,
.she-sounds-sick,
.shut-the-fuck,
.shut-up-hold,
.so-did-she,
.so-far-he,
.so-what-is,
.so-what-is1,
.some-of-the,
.some-seconds-of,
.speak-up-kid,
.that-could-just,
.thats-all-it,
.thats-great-i,
.the-double-door,
.the-man-in,
.the-mans-voice,
.the-mans-voice1,
.the-next-day,
.the-officer-hisses,
.the-officers-those,
.the-phone-rings,
.the-short-man,
.the-tall-slim,
.there-go-your,
.there-is-movement,
.there-is-silence,
.they-will-change,
.um-i-heard,
.umm-no,
.under-every-of,
.up-now,
.wait-till-you,
.walk-slower,
.we-could-be,
.well-hold-on,
.well-its-none,
.well-you-listen,
.what-couple-days,
.what-did-you,
.what-did-you1,
.what-just-giving,
.what-that-is,
.what-the-fuck,
.what-they-look,
.whats-jeans-this,
.when-will-you,
.where,
.which-one-again,
.why-do-you,
.why-is-he,
.will-you-please,
.with-his-left,
.woah-hold-on,
.yes,
.yes-i-do,
.yes-i-will,
.yes-ill-walk,
.you-are-a,
.you-are-dense,
.you-fool-mere,
.you-got-to,
.you-know-just,
.you-know-the,
.you-know-what,
.you-really-need,
.you-said-cracker {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.his-smile-quickly {
  margin: 0;
}
.bedford-rd-atlanta-container {
  align-self: stretch;
  position: relative;
}
.bedford-rd {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.a-brief-moment,
.a-fake,
.a-few-minutes,
.a-girl-with,
.a-good-hiding,
.a-long-silence,
.a-slumped-over,
.a-smile-creeps1,
.ah-yes,
.aint-you-supposed,
.all-theyll-do,
.alright-alright-shut,
.any-other-questions,
.anyhow-she-tried,
.are-you-fucking,
.asks-the-man,
.at-the-post,
.be-right-back,
.because-hes-a,
.blunt-force-throat,
.both-officers-chuckles,
.but,
.but-a-good,
.but-heart-he,
.but-mrs-wilson,
.but-what-do,
.can-you-id,
.come-on-in,
.completely-without-sense,
.correction-we-should,
.die-die-die,
.do-i-have,
.do-they-know,
.do-you-know,
.dont-look-at,
.dumped-her-in,
.emotional,
.enough-pouting-boys,
.excellent-idea,
.excellent-point-good,
.fair-enough,
.finally,
.finally-got-a,
.firstly-hes-getting,
.for-what,
.forget-how-awful,
.fuck,
.fucker-smashed-her,
.fucking-m-and,
.full-of-life,
.get-it-together,
.gideon,
.gideon-holds-up,
.gideon-interrupts,
.gideon-laughs-back,
.gideon-laughs-his,
.gideon-lets-out,
.gideon-motions-to,
.gideon-passes-pragma,
.gideon-pours-for,
.gideon-reaches-for,
.gideon-west,
.gideon1,
.gideon10,
.gideon2,
.gideon3,
.gideon4,
.gideon5,
.gideon6,
.gideon7,
.gideon8,
.gideon9,
.good-morning-maam,
.good-question,
.he-asks,
.he-asks-as,
.he-asks-pragma,
.he-clings-the,
.he-comments-in,
.he-continues-to,
.he-frowns,
.he-gestures-in,
.he-glares-at,
.he-holds-up,
.he-left-words,
.he-lets-go1,
.he-looks-back,
.he-pauses-when,
.he-points-a,
.he-points-down,
.he-reveals-his,
.he-says-as,
.he-shakes-his,
.he-sighs-briefly,
.he-slumps-back,
.he-smiles-as,
.he-swallows-bitterly,
.he-turns-to,
.he-wants-attention,
.here-it-is,
.his-hand-finds,
.his-method-is,
.his-right-hand,
.hot-tears-starts,
.how-dare-you,
.how-do-you,
.how-often-have,
.humor-the-lady,
.i-am-in,
.i-asked-her,
.i-cant-do,
.i-cant-put,
.i-concur-even,
.i-do-apologize,
.i-dont-fully,
.i-doubt-that,
.i-havent-been,
.i-heard-yall,
.i-just-aint,
.i-just-want,
.i-know-ill,
.i-know-it,
.i-left-with,
.i-let-out,
.i-only-got,
.i-reckon-im,
.i-see,
.i-should-head,
.i-slowed-down,
.i-think-ill,
.i-told-you1,
.i-was-a,
.i-was-at,
.i-was-the,
.i-went-reaching,
.i-work-two,
.if-i-may,
.if-im-right,
.if-mama-dont,
.if-thats-the,
.ill-be-back,
.ill-be-outside,
.ill-tell-you,
.im-coming-home,
.im-neat-efficient,
.im-scared-when,
.im-sorry-about,
.im-strangling-her,
.im-terribly-sorry,
.is-that-a,
.it-got-worse,
.it-is-alright,
.it-rocks-you,
.it-will-make,
.its-hot-out,
.its-just-upstairs,
.its-not-crazy,
.just-as-i,
.just-not-yet,
.just-trying-to,
.layla-jasper-18,
.leaving-us-already,
.lets-get-something,
.look-at-me1,
.m-i-think,
.m-just-because,
.m-once-told,
.m-what-is,
.m-whispers-under,
.maam,
.mam-i-want,
.matilda-and-pragma,
.matilda-asks,
.matilda-continues-investigatin,
.matilda-cuts-him,
.matilda-flicks-him,
.matilda-goes-over,
.matilda-helps-her,
.matilda-hisses,
.matilda-holds-up,
.matilda-holds-up1,
.matilda-hurries-to,
.matilda-is-now,
.matilda-leaves-the,
.matilda-looks-away,
.matilda-looks-up,
.matilda-mentions-as,
.matilda-moans-behind,
.matilda-murmurs-looking-closel,
.matilda-mutters-under,
.matilda-narrator,
.matilda-narrator1,
.matilda-narrator10,
.matilda-narrator2,
.matilda-narrator3,
.matilda-narrator4,
.matilda-narrator5,
.matilda-narrator6,
.matilda-narrator7,
.matilda-narrator8,
.matilda-narrator9,
.matilda-nods-at,
.matilda-plucks-another,
.matilda-points-at,
.matilda-scoffs,
.matilda-scoffs-as,
.matilda-slides-something,
.matilda-snifs,
.matilda-starts-to,
.matilda-storms-out,
.matilda-turns-backs,
.matilda-whispers,
.matilda-whispers1,
.matilda25,
.matilda26,
.matilda27,
.matilda28,
.matilda29,
.matilda30,
.matilda31,
.matilda32,
.matilda33,
.matilda34,
.matilda35,
.matilda36,
.matilda37,
.matilda38,
.matilda39,
.matilda40,
.matilda41,
.matilda42,
.matilda43,
.matilda44,
.matilda45,
.matilda46,
.matilda47,
.matilda48,
.matilda49,
.matilda50,
.matilda51,
.matilda52,
.matilda53,
.matilda54,
.matilda55,
.matilda56,
.matilda57,
.matilda58,
.matilda59,
.matilda60,
.matilda61,
.matilda62,
.matilda63,
.matilda64,
.matilda65,
.matilda66,
.matilda67,
.matilda68,
.matildas-eyes-glistened,
.maybe-mama-already,
.maybe-two-or,
.maybe-you-can,
.more-reason-to,
.motherfucker,
.mrs-wilson,
.mrs-wilson-cuts,
.mrs-wilson-grabs,
.mrs-wilson-holds,
.mrs-wilson-i,
.mrs-wilson-looks,
.mrs-wilson-nods,
.mrs-wilson-pauses,
.mrs-wilson-smiles,
.mrs-wilson-starts,
.mrs-wilson-told,
.mrs-wilson-turns,
.mrs-wilson-was,
.mrs-wilson1,
.mrs-wilson10,
.mrs-wilson11,
.mrs-wilson2,
.mrs-wilson3,
.mrs-wilson4,
.mrs-wilson5,
.mrs-wilson6,
.mrs-wilson7,
.mrs-wilson8,
.mrs-wilson9,
.my-baby-girl,
.my-rosa-is,
.no-blood-marks,
.no-i-got,
.no1,
.not-really,
.not-really1,
.not-yet-i,
.not-you-dumbass,
.nothing-too-serious,
.now-when-we,
.now-yall-look,
.now1,
.now2,
.officer1,
.officer10,
.officer11,
.officer12,
.officer13,
.officer14,
.officer15,
.officer16,
.officer17,
.officer18,
.officer19,
.officer2,
.officer20,
.officer21,
.officer3,
.officer4,
.officer5,
.officer6,
.officer7,
.officer8,
.officer9,
.oh-dont-know,
.oh-fuck-off,
.oh-god,
.oh-he-does,
.oh-me-i,
.oh-that-poor,
.oh-thats-right,
.oh-you-are,
.ohhell,
.on-the-job,
.only-me,
.only-when-i,
.our-girl-really,
.our-man-is,
.penetration,
.pictures-with-school,
.pragma-announces,
.pragma-announces-with,
.pragma-asks,
.pragma-asks-as,
.pragma-asks-as1,
.pragma-asks1,
.pragma-beams-visibly,
.pragma-bellowed,
.pragma-bursts-out,
.pragma-chuckles-back,
.pragma-continues,
.pragma-continues-to,
.pragma-do-you,
.pragma-drops-his,
.pragma-fully-fits,
.pragma-gazes-up,
.pragma-gently-rubs,
.pragma-hold-up,
.pragma-holds-up,
.pragma-holds-up1,
.pragma-is-still,
.pragma-is-there,
.pragma-jerks-awake,
.pragma-kisses-his,
.pragma-lifts-the,
.pragma-looks-at1,
.pragma-looks-at2,
.pragma-looks-at3,
.pragma-looks-back,
.pragma-manages-a,
.pragma-moves-closer,
.pragma-mutters,
.pragma-pauses,
.pragma-pragma-alderman,
.pragma-raises-his,
.pragma-reaches-for,
.pragma-reaches-for1,
.pragma-says-with,
.pragma-starts-to,
.pragma-suddenly-looks,
.pragma-swallows,
.pragma42,
.pragma43,
.pragma44,
.pragma45,
.pragma46,
.pragma47,
.pragma48,
.pragma49,
.pragma50,
.pragma51,
.pragma52,
.pragma53,
.pragma54,
.pragma55,
.pragma56,
.pragma57,
.pragma58,
.pragma59,
.pragma60,
.pragma61,
.pragma62,
.pragma63,
.pragma64,
.pragma65,
.pragma66,
.pragma67,
.pragma68,
.pragma69,
.pragma70,
.pragma71,
.pragma72,
.pragma73,
.pragma74,
.pragma75,
.pragma76,
.pragma77,
.pragma78,
.pragma79,
.pragma80,
.pragma81,
.pragma82,
.pragma83,
.pragma84,
.pragma85,
.pragma86,
.pragma87,
.pragma88,
.pragma89,
.pragma90,
.pragma91,
.pragma92,
.pragma93,
.pragma94,
.pragmas-eyes-starts,
.pragmas-face-starts,
.pragmas-hands-fully,
.right-here-right,
.rosa,
.say-detective-how,
.say-how-come,
.say-whats-your,
.see-his-brain,
.see-pragmas-sanity,
.she-barks-back,
.she-drops-her,
.she-glances-around,
.she-got-into,
.she-hisses,
.she-is-now,
.she-looks-at,
.she-looks-at1,
.she-pauses,
.she-pauses-as,
.she-plucks-out,
.she-reaches-for,
.she-replies,
.she-says-as,
.she-says-with,
.she-sits-down,
.she-slides-pragma,
.she-whispers,
.shes-a-really,
.shhh,
.shut-up,
.silence-again,
.slow-down-you,
.so-turns-out,
.so-whats-it,
.so-where-were,
.so-you-got,
.speak-in-sense,
.still-this-same,
.thank-god-i,
.thank-you-kindly,
.that-is-not,
.that-odd-smile,
.that-was-his,
.that-was-when,
.that-we-are,
.that-woman-is,
.the-bed,
.the-best,
.the-car-parks,
.the-door-slightly,
.the-large-room,
.the-loud-door,
.the-officer-adds,
.the-officer-asks,
.the-officer-behind,
.the-officer-bellows,
.the-officer-chuckles,
.the-officer-cuts,
.the-officer-cuts1,
.the-officer-hushes,
.the-officer-replies,
.the-officer-scoffs,
.the-officer-sighs,
.the-officer-smiles,
.the-officer-turns,
.the-officer-yells,
.the-papers,
.the-rest,
.the-rope-telling,
.the-same-place,
.the-sheriff-asks,
.the-sheriff-clutches,
.the-sheriff-looks,
.the-sheriff-peers,
.the-sheriff-says,
.the-sheriff-says1,
.the-sheriff-spits,
.the-sheriff-tilts,
.the-slim-officer,
.the-slim-old,
.the-tall-old,
.the-three-officers,
.the-writing-is,
.then-he-smiles,
.there-is-silence1,
.there-is-silence2,
.there-is-something,
.they-both-share,
.they-dont-you,
.they-exchange-glances,
.they-follow-behind,
.third-one,
.this-is-bold,
.this-one-was,
.this-one-was1,
.time-and-place,
.two-when,
.um-youre-welcome,
.under-every-one,
.watch-it-son,
.we-are-from,
.we-barely-put,
.we-can-figure,
.we-can-start,
.we-finally-meet,
.we-got-to,
.we-werent-even,
.we-wont-need,
.well-like-i,
.well-what-do,
.well-you-heard,
.what-about-the,
.what-do-you,
.what-does-that,
.what-doesnt-mummy,
.what-happened-to,
.what-job,
.whatever-she-was,
.when-i-got,
.when-i-got1,
.when-is-a,
.where-do-you,
.where-do-you1,
.whiskey,
.why-do-you1,
.why-her-you,
.why-not,
.worst-of-all1,
.yall-can-go,
.yes1,
.you-are-a1,
.you-are-dense1,
.you-caught-me,
.you-do-that,
.you-do-the,
.you-dont-have,
.you-folks-are,
.you-just-do,
.you-know-he,
.you-know-that,
.you-look-dead,
.you-may,
.you-mean-more,
.you-must-have,
.you-really-are,
.you-saying-he,
.you-see-i,
.you-should-really,
.you-smart,
.you-smart1,
.you-think-well,
.you-try-to,
.you-would-be {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.the-door-to {
  margin: 0;
}
.its-hot-out-container {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.its-hot-out-today {
  align-self: stretch;
  height: 27572px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.a-short-officer1,
.a-voice-whispered,
.after-a-few,
.all-that-passion,
.alright-alright,
.alright-now-me,
.and-thats-coming,
.and-we-supposed,
.anyways-they-are,
.bare-with-me,
.call-it-a,
.exactly-like-a,
.fuck-you-nigger,
.get-on-with,
.gideon-gets-up,
.gideon11,
.gideon12,
.gideon13,
.gideon14,
.gideon15,
.gideon16,
.gideon17,
.he-caress-his,
.he-chokes-on,
.he-didnt-pick,
.he-finally-shows,
.he-goes-to,
.he-looks-a,
.he-motions-to,
.he-notices-the,
.he-points-at,
.he-reaches-for,
.he-starts-to,
.he-yells-out,
.here-we-go,
.how-do-i,
.how-do-you1,
.how-many-of,
.i-aint-got,
.i-got-to1,
.i-hope-you1,
.i-know-what,
.i-was-sleeping,
.is-it-ready,
.it-will-only,
.joshua,
.joshua1,
.just-like-ruby,
.let-me-take,
.lets-hear-it,
.like-rosa-and,
.look-obviously-the,
.looks-like-you,
.matilda-leans-to,
.matilda-scoffs1,
.matilda69,
.matilda70,
.matilda71,
.matilda72,
.matilda73,
.matilda74,
.matilda75,
.motherfucker1,
.must-have-been,
.no-problem-see,
.now-i-believe,
.now-if-yall,
.now-my-colleague,
.oh-ruby,
.oh-so-not,
.oh-that-one,
.on-my-way,
.ovlav,
.ovlav-bellows-from,
.ovlav-frowns-gideon,
.ovlav-holds-his,
.ovlav-says-as,
.ovlav-shouts-from,
.ovlav1,
.ovlav2,
.ovlav3,
.ovlav4,
.ovlav5,
.ovlavs-smile-recedes,
.papers-go-shuffling,
.pardon-me-fellas,
.pragma-and-matilda,
.pragma-announces1,
.pragma-asks-out,
.pragma-clears-his1,
.pragma-flicks-her,
.pragma-gets-closer,
.pragma-gets-up,
.pragma-glances-at,
.pragma-hesitates-waiting,
.pragma-holds-up2,
.pragma-laughs-quietly,
.pragma-mentions-to,
.pragma-mouths-to,
.pragma-nods-in,
.pragma-pauses-then,
.pragma-raises-his1,
.pragma-replies,
.pragma-replies-quickly,
.pragma-snaps-his,
.pragma-suddenly-stops,
.pragma-thinks-for,
.pragma-was-about,
.pragma-whispers,
.pragma100,
.pragma101,
.pragma102,
.pragma103,
.pragma104,
.pragma105,
.pragma106,
.pragma107,
.pragma108,
.pragma109,
.pragma110,
.pragma111,
.pragma112,
.pragma113,
.pragma114,
.pragma115,
.pragma116,
.pragma117,
.pragma118,
.pragma119,
.pragma120,
.pragma121,
.pragma122,
.pragma123,
.pragma124,
.pragma125,
.pragma126,
.pragma127,
.pragma128,
.pragma95,
.pragma96,
.pragma97,
.pragma98,
.pragma99,
.right-now-really,
.run-pragma-run,
.share-the-docs,
.she-shoots-a,
.since-the-last,
.thank-you,
.that-dreadful-dream,
.thats-what-you,
.the-dogs-neck,
.the-door-was,
.the-reason-i,
.the-short-man1,
.the-short-man2,
.the-short-officer,
.the-short-officer1,
.the-two-officers,
.there-is-murmur,
.there-is-silence3,
.theres-is-something,
.they-hold-a,
.they-talk-for,
.they-will-never,
.this-is-my,
.too-bad,
.tough-boy,
.two-days-later,
.watch-it,
.we-supposed-to,
.well-if-we,
.well-im-almost,
.what-is-it,
.what-youre-looking,
.whats-that-one,
.where-were-you,
.while-you-were,
.who-me,
.who-the-fuck,
.will-you-boys,
.yes-i-am,
.yes2,
.you,
.you-all-can,
.you-are-going,
.you-fell-asleep,
.you-saying-like,
.you-would-never {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.a-stakeout {
  margin: 0;
}
.on-my-way-container {
  align-self: stretch;
  height: 10321px;
  position: relative;
  display: inline-block;
}
.a-bit-slow,
.a-short-light-skinned,
.a-smile-builds,
.a-teacher-then,
.ahh-yes-she,
.all-good,
.always-charging-ahead,
.and-not-here,
.apologies-for-taking,
.as-i-reached,
.at-least-lets,
.bosy-bitch,
.but-rosa-was,
.but-towards-the,
.but-we-offer,
.carolina-your-legs,
.come-here,
.correct-but-i,
.destiny,
.destiny-buries-her,
.destiny-chuckles-as,
.destiny-lets-out,
.destiny-looks-at,
.destiny-looks-back,
.destiny-looks-long,
.destiny-meets-matildas,
.destiny-nods,
.destiny-nods-as,
.destiny-returns-back,
.destiny-smiles-as,
.destiny-swallows,
.destiny-yells-out,
.destiny1,
.destiny10,
.destiny11,
.destiny12,
.destiny13,
.destiny14,
.destiny15,
.destiny16,
.destiny17,
.destiny18,
.destiny19,
.destiny2,
.destiny20,
.destiny21,
.destiny22,
.destiny23,
.destiny24,
.destiny25,
.destiny26,
.destiny27,
.destiny28,
.destiny29,
.destiny3,
.destiny30,
.destiny31,
.destiny32,
.destiny33,
.destiny4,
.destiny5,
.destiny6,
.destiny7,
.destiny8,
.destiny9,
.destinys-face-clenches,
.did-she-ever,
.do-you-know1,
.do-you-know2,
.do-you-remember,
.dont-blame-me,
.even-still-no,
.excuse-me-i,
.first-of-all,
.first-of-all1,
.fuck-you,
.he-keeps-on,
.he-looks-back1,
.hey-lovebirds-i,
.how-about-you,
.how-are-you,
.how-do-you2,
.how-long-has,
.i-always-hated,
.i-could-give,
.i-dont-give,
.i-dont-know2,
.i-know-thats,
.i-know-this,
.i-said-not,
.i-think-we,
.i-was-just1,
.in-front-of,
.it-was-an,
.it-was-really,
.it-was-someone,
.it-wasnt-a,
.ive-got-to,
.just-stop-not,
.language,
.lets-just-do,
.like-a-what,
.look,
.look-at-her,
.look-i-got,
.m-what-are,
.matilda-charged-forward,
.matilda-charges-towards,
.matilda-ignores-pragma,
.matilda-is-yelling,
.matilda-laughs1,
.matilda-points-to,
.matilda-pulls-joy,
.matilda-reaches-for,
.matilda-replies,
.matilda-replies-with,
.matilda-retorts,
.matilda-smiles,
.matilda-smiles1,
.matilda-walks-briskly,
.matilda-wipes-tears,
.matilda-yells-out,
.matilda100,
.matilda101,
.matilda102,
.matilda103,
.matilda104,
.matilda105,
.matilda106,
.matilda107,
.matilda108,
.matilda109,
.matilda110,
.matilda111,
.matilda76,
.matilda77,
.matilda78,
.matilda79,
.matilda80,
.matilda81,
.matilda82,
.matilda83,
.matilda84,
.matilda85,
.matilda86,
.matilda87,
.matilda88,
.matilda89,
.matilda90,
.matilda91,
.matilda92,
.matilda93,
.matilda94,
.matilda95,
.matilda96,
.matilda97,
.matilda98,
.matilda99,
.matildda,
.my-guess-is,
.my-name-is,
.no-objections-i,
.no-sorry-about,
.not-just-talking,
.now-that-the,
.of-course-i,
.oh-dont-mind,
.oh-so-out,
.one-minute-is,
.ouch,
.ovlav-chuckles-out,
.ovlav-mutters-to,
.ovlav-points-to,
.ovlav-replies-as,
.ovlav10,
.ovlav11,
.ovlav12,
.ovlav13,
.ovlav14,
.ovlav15,
.ovlav6,
.ovlav7,
.ovlav8,
.ovlav9,
.please-any-information,
.practice-has-never,
.pragma-announces-dramatically,
.pragma-chuckles,
.pragma-holds-up3,
.pragma-ignores-him,
.pragma-nods-in1,
.pragma-pulls-out,
.pragma-sighs-matilda,
.pragma-sits-up,
.pragma-was-the,
.pragma-yells-out,
.pragma129,
.pragma130,
.pragma131,
.pragma132,
.pragma133,
.pragma134,
.pragma135,
.pragma136,
.pragma137,
.pragma138,
.pragma139,
.pragma140,
.pragma141,
.pragma142,
.pragma143,
.pragma144,
.pragma145,
.pragma146,
.pragma147,
.pragma148,
.pragmas-eyes-widen,
.pragmas-smirk-stops,
.pragmas-tone-is,
.rosa-was-gem,
.see-shes-also,
.she-buries-her,
.she-came-late,
.she-did-she,
.she-got-good,
.she-hisses-at,
.she-is-teary,
.she-manages-a,
.she-moves-to,
.she-mutters,
.she-never-gave,
.she-palms-her,
.she-points-to,
.she-pulls-away,
.she-pulls-out,
.she-raises-her,
.she-reaches-for1,
.she-scoffs,
.she-shakes-her,
.she-turns-to,
.she-uncovers-her,
.she-walks-away,
.she-wipes-her,
.so-you-said,
.sorry-about-that,
.speaking-of,
.sure-thing,
.thank-you-lets,
.thank-you1,
.thank-you2,
.thats-not-any,
.thats-the-thing,
.the-first-time,
.the-girl-replies,
.the-girls-have,
.the-gym-door,
.the-kids-are,
.the-officer-in,
.the-only-group,
.the-two-men,
.there-is-silence4,
.there-was-this,
.they-are-almost,
.they-break-their,
.they-head-to,
.this-is-about,
.this-one,
.trust-me-i,
.walk-faster,
.walk-slower1,
.we-are-on,
.we-first-met,
.we-got-a,
.we-got-to1,
.well-like-i1,
.what-a-way,
.what-the-fuck1,
.what-the-fuck2,
.whatd-you-say,
.whats-got-you,
.whats-today,
.when-was-this,
.when-we-went,
.who-spoke-first,
.why,
.woah,
.yes-david-i,
.yes-i-did,
.yes-it-is,
.yes-very-we,
.yes3,
.you-fucked-yet,
.you-know-she,
.you-know-what1,
.you-know1,
.you-loved-her,
.you-might-not,
.you-said-this,
.your-time-with,
.youve-never-met {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-we-got-container {
  align-self: stretch;
  height: 14494px;
  position: relative;
  display: inline-block;
}
.a-former-student,
.am-i-going,
.and-im-the,
.and-stop-smoking,
.are-you-catholic,
.can-you-lead,
.dont-say-any,
.everyone-is-addicted,
.good-afternoon-my,
.he-adds-as,
.he-coughs-multiple,
.he-follows-the,
.he-he-sent,
.he-looks-at,
.he-murmurs-terrified,
.he-offers-the,
.he-points-to,
.he-points-to1,
.he-pulls-out,
.he-puts-his,
.he-raises-his,
.he-replies,
.he-suddenly-gets,
.he-waves-his,
.how-rude-of,
.i-am-looking,
.i-got-a,
.i-hope-its,
.i-just-told,
.i-like-this,
.i-like-you,
.i-told-you2,
.i-was-walking,
.ignore-that,
.im-sorry-who,
.in-my-school,
.is-it-coming,
.its-just-across,
.jessica,
.jessica-ummm-jessica,
.jessica1,
.kid,
.kid1,
.kid10,
.kid11,
.kid12,
.kid2,
.kid3,
.kid4,
.kid5,
.kid6,
.kid7,
.kid8,
.kid9,
.last-time-is,
.listen-here-panther,
.listen-kid,
.more-importantly-last,
.no-im-good,
.no-thank-you,
.no2,
.now-me-im,
.oh-nothing,
.oh-shit-the,
.oh-why-you,
.oh-yes-the,
.ovlav-be-like,
.ovlav-pennywise-nice,
.ovlav-replies-after,
.ovlav-says-as1,
.ovlav-smirks,
.ovlav16,
.ovlav17,
.ovlav18,
.ovlav19,
.ovlav20,
.ovlav21,
.ovlav22,
.ovlav23,
.pick-someone-thats,
.pragma-adds,
.pragma-catches-himself,
.pragma-clears-his2,
.pragma-could-feel,
.pragma-finally-answers,
.pragma-hesitates,
.pragma-hisses-as,
.pragma-hisses-in,
.pragma-holds-a,
.pragma-puts-his,
.pragma-sighs,
.pragma-turns-to,
.pragma149,
.pragma150,
.pragma151,
.pragma152,
.pragma153,
.pragma154,
.pragma155,
.pragma156,
.pragma157,
.pragma158,
.pragma159,
.pragma160,
.pragma161,
.pragma162,
.pragma163,
.pragma164,
.pragma165,
.pragma166,
.pragma167,
.pragma168,
.principal,
.principal1,
.principal10,
.principal11,
.principal12,
.principal13,
.principal14,
.principal15,
.principal16,
.principal17,
.principal18,
.principal19,
.principal2,
.principal20,
.principal3,
.principal4,
.principal5,
.principal6,
.principal7,
.principal8,
.principal9,
.rosa-wilson-she,
.shes-still-in,
.sir-umm-we,
.slide-it-under,
.tell-me-about,
.thank-you-for,
.thanks-kid,
.that-is-the,
.that-is-true,
.the-door-opens,
.the-kid-cups,
.the-kid-opens,
.the-kid-rolls,
.the-kid-salutes,
.the-kid-suddenly,
.the-kid-whispers,
.the-kid-yells,
.the-man-awkwardly,
.the-one-thats,
.the-principal,
.the-principal-draws,
.the-principal-holds,
.the-principal-is,
.the-principal-points,
.the-principal-replies,
.the-principal-retorts,
.the-principal-suddenly,
.the-principal-visible,
.the-principal1,
.the-principal2,
.the-voice-behind,
.then-why-the,
.there-is-shuffling,
.too-many-you,
.wait-youre-not,
.we-are-not,
.well-be-back,
.well-if-you,
.what-smoke,
.who-could-that,
.why-the-fuck,
.woah-officer-are,
.yes-i-can,
.yes-i-do1,
.yes-panther-which,
.yes-shes-here,
.you-got-a,
.you-know-my,
.you-know-you,
.you-know-you1 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-yells-after {
  margin: 0;
}
.pragma-could-feel-container {
  align-self: stretch;
  position: relative;
}
.a-darker-skinned,
.a-tall-busty,
.actually-it-was,
.actually-no-here,
.all-of-them,
.and-you-are,
.are-you-over,
.are-you-sure,
.calm-down-sir,
.can-yall-do,
.come-on,
.do-you-know3,
.do-you-understand,
.do-you-what,
.dont-touch-me,
.get-a-room,
.great-lets-get,
.he-begins-to,
.he-opens-the,
.he-points-to2,
.he-taps-the,
.he-touches-pragma,
.her-cheeks-are,
.her-face-is,
.heres-whats-going,
.his-voice-starts,
.hmmm-hmmm-yes,
.how-well-did,
.i-aint-know,
.i-am,
.i-can-tell,
.i-dont-think1,
.i-sat-behind,
.i-was-just2,
.i-was-there,
.i-was-there1,
.if-your-name,
.im-done-talking,
.im-ovlav-from,
.it-sure-dont,
.it-was-after,
.its-jessica,
.jessica-and-her,
.jessica-nods,
.jessica-raises-her,
.jessica-swiftly-turns,
.jessica10,
.jessica11,
.jessica12,
.jessica13,
.jessica14,
.jessica15,
.jessica16,
.jessica17,
.jessica18,
.jessica19,
.jessica2,
.jessica20,
.jessica21,
.jessica22,
.jessica23,
.jessica24,
.jessica3,
.jessica4,
.jessica5,
.jessica6,
.jessica7,
.jessica8,
.jessica9,
.let-who,
.look-mam,
.mam-please-take,
.my-job,
.nigger-please-i,
.no-one-raises,
.oh-yes-thats,
.ohhhhh,
.okay-jessica-hold,
.okay-jessica-im,
.ovlav-abruptly-interrupts,
.ovlav-cuts-a,
.ovlav-gets-closer,
.ovlav-interjects-before,
.ovlav-lets-out,
.ovlav-shrugs,
.ovlav-taps-on,
.ovlav-turns-his,
.ovlav-whispers-as,
.ovlav24,
.ovlav25,
.ovlav26,
.ovlav27,
.ovlav28,
.ovlav29,
.ovlav30,
.ovlav31,
.ovlav32,
.ovlav33,
.ovlav34,
.ovlav35,
.ovlav36,
.ovlav37,
.ovlav38,
.ovlav39,
.ovlav40,
.ovlav41,
.ovlavs-eyes-widen,
.pragma-bellows,
.pragma-from-the,
.pragma-gets-close,
.pragma-looks-at4,
.pragma-looks-up,
.pragma-puts-his1,
.pragma-raises-his2,
.pragma-says-calmly,
.pragma-says-out,
.pragma-swallows-ovlav,
.pragma-taps-on,
.pragma-told-ovlav,
.pragma169,
.pragma170,
.pragma171,
.pragma172,
.pragma173,
.pragma174,
.pragma175,
.pragma176,
.pragma177,
.pragma178,
.pragma179,
.pragma180,
.pragma181,
.pragma182,
.pragma183,
.pragma184,
.pragma185,
.pragma186,
.pragma187,
.pragma188,
.pragma189,
.pragma190,
.pragma191,
.pragma192,
.pragma193,
.pragma194,
.pragmas-arms-drops,
.pragmas-voice-intensifies,
.real-funny-motherfuker,
.she-bats-an,
.she-exclaims-then,
.she-hisses1,
.she-is-messing,
.she-motions-to,
.she-repeats,
.she-turns-around,
.she-twirls-her,
.shes-not-my,
.so-yall-never,
.sure-thing-tough,
.thank-you-now,
.that-involves-getting,
.thats-not-appropriate,
.the-girl-is,
.the-girl-replies1,
.the-girl-says,
.the-more-the,
.the-two-men1,
.they-get-to,
.this-way,
.try-to-remember,
.we-was-classmates,
.well-hello-there,
.well-now-we,
.well-were-just,
.what,
.what-the-fuck3,
.what-the-fuck4,
.who,
.women-might-be,
.yeah-im-good,
.yes-i-can1,
.you-know-that1,
.you-know-when,
.you-men-lost,
.you-said-what,
.you-said-you,
.you-sure-thats,
.your-friend-is {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-stood-behind {
  margin: 0;
}
.he-opens-the-container {
  align-self: stretch;
  height: 8729px;
  position: relative;
  display: inline-block;
}
.a-call-came,
.alright-thats-enough,
.are-you-sure1,
.cut-that-out,
.did-you-,
.dont-play-about,
.everyone-has-their,
.everything-alright-there,
.few-moments-after,
.he-is-in,
.he-puts-it,
.he-thought-best,
.hes-away-football,
.i-fucking-hate,
.i-know-i,
.i-know-you1,
.i-must-be,
.i-said-im,
.if-that-is,
.ill-be-outside1,
.im-fine,
.it-wasnt-in,
.look-at-that,
.matilda-charges-on,
.matilda-heads-for,
.matilda-looks-at,
.matilda-remains-quiet,
.matilda-says-nothing,
.matilda-shakes-her,
.matilda-turns-back,
.matilda112,
.matilda113,
.matilda114,
.matilda115,
.matilda116,
.matilda117,
.matilda118,
.matilda119,
.matilda120,
.matilda121,
.matilda122,
.matilda123,
.matilda124,
.matilda125,
.matilda126,
.matilda127,
.maybe-you-havent,
.mockin-,
.mockingbird-lane,
.must-be-david,
.oh-must-have,
.oh-you-wanna,
.only-youre-not,
.ovlav-yells-out,
.ovlav42,
.ovlav43,
.ovlav44,
.ovlav45,
.pragma-asks-again,
.pragma-halts,
.pragma-holds-up4,
.pragma-interjects-before,
.pragma-lets-out,
.pragma-mutters-under,
.pragma-never-got,
.pragma-trails-behind,
.pragma-walks-away,
.pragma-waves-his,
.pragma195,
.pragma196,
.pragma197,
.pragma198,
.pragma199,
.pragma200,
.pragma201,
.pragma202,
.pragma203,
.pragma204,
.pragma205,
.pragma206,
.pragma207,
.pragma208,
.pragma209,
.pragma210,
.pragma211,
.pragma212,
.pragma213,
.pragma214,
.pragma215,
.pragma216,
.see-these,
.see-youve-got,
.she-declares-as,
.she-gives-it,
.she-sniffs,
.she-walks-towards,
.shut-the-fuck1,
.watch-it1,
.we-are-amongst,
.well-i-wont,
.well-what-is,
.where1,
.where2,
.who-fucking-says,
.will-you-just,
.women-theyll-be,
.you-are-the,
.you-just-aint,
.you-think-i,
.youre-not {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.positive {
  margin: 0;
}
.few-moments-after-container {
  align-self: stretch;
  height: 5925px;
  position: relative;
  display: inline-block;
}
.on-my-way-to-work {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.alright-alright-profile,
.before-pragma-could,
.blunt-force-to,
.call-me-a,
.easy-lover-boys,
.five,
.fuck-off-we,
.fuck-your-findings,
.fuck1,
.fuck2,
.fuck3,
.got-to-be,
.he-does-um,
.he-lets-go2,
.he-looks-at1,
.hes-not-worth,
.i-aint-get,
.i-aint-hear,
.i-can-continue,
.i-didnt-i,
.i-dont-need,
.i-got-two,
.i-slept-under,
.i-think-he,
.inside-the-car,
.is-our-profile,
.it-seems-pretty,
.it-was-unofficial,
.look-all-im,
.matilda-leans-to1,
.matilda128,
.matilda129,
.matilda130,
.matilda131,
.matilda132,
.matilda133,
.matilda134,
.matilda135,
.matilda136,
.matilda137,
.matilda138,
.matilda139,
.matilda140,
.matilda141,
.mocking-bird-so,
.never-mind,
.not-that-any,
.ovlav-and-his,
.ovlav-chuckles,
.ovlav-chuckles1,
.ovlav-curses-aloud,
.ovlav-looks-back,
.ovlav-swallows-then,
.ovlav46,
.ovlav47,
.ovlav48,
.ovlav49,
.ovlav50,
.ovlav51,
.ovlav52,
.ovlav53,
.ovlav54,
.ovlav55,
.ovlav56,
.ovlav57,
.ovlav58,
.ovlav59,
.p,
.pragma-brushes-past,
.pragma-exclaims,
.pragma217,
.pragma218,
.pragma219,
.pragma220,
.pragma221,
.pragma222,
.pragma223,
.pragma224,
.pragma225,
.pragma226,
.pragma227,
.pragma228,
.pragma229,
.pragma230,
.pragma231,
.pragma232,
.remember-when-i,
.safe-with-me,
.she-looks-back,
.so-fucking-close,
.stop-filling-the,
.that-makes-number,
.the-hunt-that,
.theres-a-we,
.this-close,
.wait-till-he,
.we-got-to2,
.whaa-,
.what-are-you,
.what-exactly-the,
.what-the-fuck5,
.what-was-that,
.where-did-they,
.woah-you-aint,
.yes4 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-lets-out1 {
  margin: 0;
}
.the-hunt-that-container {
  align-self: stretch;
  height: 4938px;
  position: relative;
  display: inline-block;
}
.a-hush-fell,
.all-this-for,
.and-dancing,
.and-tell-your,
.anyone-find-out,
.boss-what-are,
.come-get-me,
.come-on-now,
.do-they-know1,
.dont-be-sad,
.easy-easy-easy,
.enough-you-outside,
.exactly,
.excuse-me-so,
.fella-was-also,
.few-moments-later,
.fuck-me,
.gideon-holds-his,
.gideon-is-pointing,
.gideon-leaves-for,
.gideon-motions-to1,
.gideon-points-at,
.gideon-points-to,
.gideon-puts-an,
.gideon-shakes-his,
.gideon-tell-me,
.gideon-you-better,
.gideon18,
.gideon19,
.gideon20,
.gideon21,
.gideon22,
.gideon23,
.gideon24,
.gideon25,
.gideon26,
.gideon27,
.gideon28,
.gideon29,
.gideon30,
.gideon31,
.gideon32,
.gideon33,
.gideon34,
.gideon35,
.gideon36,
.gideon37,
.gideon38,
.gideon39,
.gideon40,
.gideon41,
.gideon42,
.gideon43,
.gideon44,
.gideon45,
.gideon46,
.gideons-face-starts,
.he-exhales-dramatically,
.he-finishes-the,
.he-gets-closer,
.he-gets-closer1,
.he-is-dancing,
.he-motions-to1,
.he-nods-in,
.he-turns-to1,
.help-yourself,
.hes-saying-come,
.hey-forgot-something,
.hey-tough-guy,
.his-voice-slightly,
.hope-youre-as,
.how-about-you1,
.i-can-look,
.i-dont-think2,
.i-have-a,
.i-know-not,
.i-will-kill,
.if-you-make,
.it-is-almost,
.its-all-good,
.its-official-my,
.its-too-late,
.listen-to-me,
.matilda-leaves-the1,
.matilda142,
.matilda143,
.matilda144,
.matilda145,
.meaning,
.motherfucker-you-wouldnt,
.oh-im-a,
.oh-no-i,
.oh-shit-you,
.okay-nigga-your,
.open-the-door,
.or,
.or-should-i,
.out-with-it,
.outside,
.ovlav-check-on,
.ovlav-mutters-mockingly,
.ovlav-nods-and,
.ovlav-points-to1,
.ovlav-puts-a,
.ovlav-puts-both,
.ovlav-steps-out,
.ovlav60,
.ovlav61,
.ovlav62,
.ovlav63,
.ovlav64,
.ovlav65,
.ovlav66,
.ovlav67,
.ovlav68,
.ovlav69,
.ovlav70,
.ovlav71,
.ovlav72,
.ovlav73,
.ovlav74,
.ovlav75,
.ovlav76,
.ovlav77,
.ovlav78,
.ovlav79,
.p1,
.part-of-the,
.pragma-begins-to,
.pragma-buries-his,
.pragma-curses-under,
.pragma-interrupts,
.pragma-looks-into,
.pragma-looks-up1,
.pragma-scoffs,
.pragma-shifts-uncomfortably,
.pragma-starts-to1,
.pragma-swallows1,
.pragma233,
.pragma234,
.pragma235,
.pragma236,
.pragma237,
.pragma238,
.pragma239,
.pragma240,
.pragma241,
.pragma242,
.pragma243,
.pragma244,
.pragma245,
.pragma246,
.pragma247,
.pragma248,
.pragma249,
.pragma250,
.pragma251,
.pragma252,
.pragma253,
.pragma254,
.pragma255,
.pragma256,
.right-out-there,
.she-likes-it,
.shut-the-fuck2,
.shut-the-fuck3,
.singing,
.son,
.talk-to-him,
.thats,
.thats-not-all,
.thats-what-our,
.the-busy-station,
.the-door-opens1,
.the-job-in,
.the-knocks-continue,
.the-man-said,
.the-man-who,
.the-station,
.the-things-we,
.the-three-officers1,
.the-two-men2,
.theyre-approached-by,
.this-is-part,
.this-morning-we,
.this-way1,
.we-dont-have,
.we-found-another,
.we-have-an,
.we-know-that,
.we-must-have,
.well-what-are,
.what-is-the,
.would-you-look,
.yes-just-right,
.you-all-good,
.you-got-it,
.you-have-to,
.you-heard-me {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-retorts-as {
  margin: 0;
}
.the-three-officers-container {
  align-self: stretch;
  position: relative;
}
.a-few-of1,
.alright-good-guys,
.are-you-alright,
.are-you-blind,
.do-they-know2,
.does-he-know,
.dont-tell-me,
.everyone-strap-up,
.fuck-how-long,
.fuck-off,
.gideon-begins-to,
.gideon47,
.gideon48,
.gideon49,
.gideon50,
.gideons-voice-echoes,
.hell-no-reason,
.hmm-you-are,
.i-feel-it,
.imagine-running-through,
.its-okay-i,
.listen-before-we,
.m-no-you,
.maltilda-whispers-behind,
.matilda-looks-down,
.matilda-pokes-him,
.matilda-raises-her,
.matilda-starts-to1,
.matilda146,
.matilda147,
.matilda148,
.matilda149,
.matilda150,
.matilda151,
.matilda152,
.matilda153,
.matilda154,
.matilda155,
.matilda156,
.matilda157,
.nothing-yet,
.oh-fuck-you2,
.okay,
.okay-mother,
.p2,
.pragma-comments-sarcastically,
.pragma-flinches,
.pragma-nods1,
.pragma-notices-her,
.pragma-raises-his3,
.pragma-smiles-as,
.pragma-starts-hesitantly,
.pragma257,
.pragma258,
.pragma259,
.pragma260,
.pragma261,
.pragma262,
.pragma263,
.pragma264,
.pragma265,
.pragma266,
.pragma267,
.pragma268,
.pragma269,
.pragma270,
.pragma271,
.put-that-up,
.quick-introduction-as,
.she-brushes-his,
.she-throws-up,
.the-fucking-orders,
.there-is-echoes,
.they-hold-a1,
.what1,
.why-that,
.why-were-you,
.yes-but-you,
.yessir,
.you-are-watching,
.you-better-not,
.you-dont-see {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-holds-out {
  margin: 0;
}
.gideon-alright-good-container {
  align-self: stretch;
  position: relative;
}
.a-voice-that,
.ah,
.blow-lands-pragma,
.did-i-break,
.dont-do-that,
.drop-it,
.easy-there-how,
.fuck-easy-okay,
.go,
.he-begins-after,
.he-heads-towards,
.he-interlocks-two,
.he-laments-as,
.he-looks-back2,
.he-pulls-out1,
.he-pushes-the,
.he-returns-to,
.he-starts-to1,
.he-was-just,
.he-whispers-to,
.hmm-hmm,
.hooded-man,
.hooded-man1,
.hooded-man10,
.hooded-man11,
.hooded-man12,
.hooded-man13,
.hooded-man14,
.hooded-man15,
.hooded-man16,
.hooded-man17,
.hooded-man18,
.hooded-man19,
.hooded-man2,
.hooded-man20,
.hooded-man21,
.hooded-man22,
.hooded-man3,
.hooded-man4,
.hooded-man5,
.hooded-man6,
.hooded-man7,
.hooded-man8,
.hooded-man9,
.huh-what-was,
.i-do-how,
.i-just-dont,
.i-lost-him,
.i-think-therefore,
.lets-have-you,
.looks-like-that,
.no-fun,
.officer22,
.officer23,
.oh-no-you,
.oh-so-you,
.oh-where-are,
.okay-im-taking,
.okay-okay,
.p3,
.pragma-clenches-his,
.pragma-continues-to1,
.pragma-drops-the,
.pragma-has-trailed,
.pragma-holds-out1,
.pragma-lets-out2,
.pragma-whispers-again,
.pragma272,
.pragma273,
.pragma274,
.pragma275,
.pragma276,
.pragma277,
.pragma278,
.pragma279,
.pragma280,
.pragma281,
.pragma282,
.pragma283,
.pragma284,
.pragma285,
.pragma286,
.run,
.she-cant-hear,
.sir-ehm-mr,
.slow-down-fella,
.thank-the-gods,
.thats-your-problem,
.the-gun-give,
.the-hooded-man,
.the-hooded-man1,
.the-hooded-man2,
.the-hooded-man3,
.the-hooded-man4,
.the-hooded-man5,
.the-hooded-man6,
.the-hooded-man7,
.the-hooded-man8,
.the-man-from,
.the-man-repeats,
.wait,
.wha-,
.what-do-we,
.what-im-not,
.what-say-how,
.what-the-fuck6,
.whats-she-to,
.woah-i-,
.woah-i-1,
.you-and-me,
.you-are-not,
.you-know-my1,
.you-look-so,
.your-wish {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.he-pushes-pragmas {
  margin: 0;
}
.pragma-has-trailed-container {
  align-self: stretch;
  height: 5301px;
  position: relative;
  display: inline-block;
}
.a-man-in,
.about-that-say,
.aint-that-great,
.alright-tough-guy,
.although,
.and-you-are1,
.and-you-no,
.calm-down-you,
.calm-down-you1,
.can-we-speak,
.docotor,
.doctor,
.doctor1,
.doctor2,
.doctor3,
.doctor4,
.doctor5,
.doctor6,
.doctor7,
.doctor8,
.doctor9,
.easy,
.fooling-about-with,
.get-him-out,
.gideon-clears-his,
.gideon-steps-out,
.gideon51,
.gideon52,
.gideon53,
.gideon54,
.gideon55,
.gideon56,
.gideon57,
.gideon58,
.gideon59,
.gideon60,
.gideon61,
.he-hit-her,
.he-should-be,
.he-turns-to2,
.he-wasnt-that,
.he-winces-as,
.his-stare-lingers,
.i-am-okay,
.i-hope-that,
.ill-try,
.it-might-be,
.its-alright-son,
.its-english-gosh,
.its-over-in,
.jeez-now-im,
.jeez-you-still,
.make-time-i,
.matilda-flinches-she,
.matilda-throws-his,
.matilda158,
.matilda159,
.matilda160,
.matilda161,
.matilda162,
.matilda163,
.matilda164,
.matilda165,
.matilda166,
.matilda167,
.matilda168,
.matilda169,
.matilda170,
.matilda171,
.never-enough-time,
.no-i-am,
.not-my-fault,
.officers-i-will,
.oh-thats-good,
.p4,
.pragma-exhales,
.pragma-gets-up1,
.pragma-hears-voices,
.pragma-jerks-awake1,
.pragma-looks-at5,
.pragma-pragma-pragma,
.pragma-reaches-for2,
.pragma-smiles,
.pragma287,
.pragma288,
.pragma289,
.pragma290,
.pragma291,
.pragma292,
.pragma293,
.pragma294,
.pragma295,
.pragma296,
.pragma297,
.pragma298,
.pragma299,
.pragma300,
.pragma301,
.pragma302,
.pragma303,
.pragma304,
.she-rolls-her,
.shes-here-too,
.shes-still-out,
.sir-i-understand,
.sire-you-are,
.so-you-are,
.so-you-think,
.thats-right-lets,
.the-doctor-continues,
.the-doctor-frowns,
.the-doctor-holds,
.the-doctor-taps,
.the-doctor-taps1,
.the-doctor-turns,
.the-door-closes,
.the-girl-there,
.the-kid-was,
.the-mob-of,
.the-reason-why,
.there-is-silence5,
.theres-something-you,
.they-both-chuckles,
.we-will-do,
.well,
.well-your-vitals,
.what-why-am,
.what2,
.whatever-you-say,
.who-is-that,
.why-are-you,
.you-get-your,
.you-saw-him,
.your-injuries-were,
.youre-okay {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-limps-to {
  margin: 0;
}
.what-why-am-container {
  align-self: stretch;
  height: 6433px;
  position: relative;
  display: inline-block;
}
.boy-stop,
.close-the-blinds,
.did-he-hit,
.easy-youll-get,
.except-when-youre,
.he-mouths-to,
.he-starts-to2,
.he-whispers-then,
.hey-its-okay,
.his-face-is,
.i-asked-you,
.i-cant-feel,
.i-dont-think3,
.i-told-you3,
.i-was-so,
.it-dont-look,
.m,
.matilda-blushes,
.matilda-kicks-him,
.matilda-laughs2,
.matilda-places-pragmas,
.matilda-reaches-for1,
.matilda172,
.matilda173,
.matilda174,
.matilda175,
.matilda176,
.matilda177,
.matilda178,
.matilda179,
.matilda180,
.matilda181,
.matilda182,
.motherfuc,
.no-i-dont,
.nothing-looks-good,
.nothing-not-even,
.oh-fuck-off1,
.only-this-once,
.ovlav-makes-out,
.ovlav-points-to2,
.ovlav-punches-pragma,
.ovlav-starts-to,
.ovlav80,
.ovlav81,
.ovlav82,
.ovlav83,
.ovlav84,
.ovlav85,
.pragma-has-a,
.pragma-lets-out3,
.pragma-puts-his2,
.pragma-smiles-he,
.pragma-whispers-behind,
.pragma305,
.pragma306,
.pragma307,
.pragma308,
.pragma309,
.pragma310,
.pragma311,
.pragma312,
.pragma313,
.pragma314,
.pragma315,
.pragma316,
.pragma317,
.pragma318,
.pragmas-face-is,
.really,
.rest,
.see-you-tomorrow,
.several-times,
.shes-on-the,
.they-continue-towards,
.they-start-to,
.two-ribs-broke,
.whaa-1,
.what3,
.who-are-you,
.why1,
.yes-god-right,
.yes5,
.you-took-a,
.you-were-yall {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-blows-him {
  margin: 0;
}
.matilda-hey-its-container {
  align-self: stretch;
  position: relative;
}
.the-hunt-that-took-my-breath-a {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.vegee3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.footer1,
.parent-frame,
.pragma1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.parent-frame {
  width: 104px;
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.footer1,
.pragma1 {
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.pragma1 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  opacity: 0;
}
.pragma1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
