@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.two-days-later {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.a-stakeout {
  margin: 0;
}
.two-days-later-container {
  align-self: stretch;
  position: relative;
}
.body1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.vegee3 {
  position: relative;
  text-transform: lowercase;
  font-weight: 600;
}
.footer1,
.frame-div,
.pragmaon-my-way-to-work {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame-div {
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.footer1,
.pragmaon-my-way-to-work {
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xs);
  font-family: var(--font-reem-kufi);
}
.pragmaon-my-way-to-work {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-8xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.pragmaon-my-way-to-work.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
