.pragma-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pragma-pragma {
  gap: 30px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  animation-name: fadeIn;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: rgba(18, 18, 18, 1);
  animation-duration: 500ms;
}
.pragma-frame20 {
  display: flex;
  padding: 20px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.pragma-link {
  display: contents;
}
.pragma-frame16 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px rgba(49, 49, 49, 1) ;
  align-items: flex-start;
  border-radius: 14px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(18, 18, 18, 1);
}
.pragma-text {
  color: rgba(188, 188, 188, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Syne;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pragma-navlink {
  display: contents;
}
.pragma-frame21 {
  gap: 10px;
  width: 22px;
  height: 18px;
  display: flex;
  padding: 4px 3px;
  overflow: hidden;
  box-shadow: 0px 2px 7.900000095367432px -1px rgba(116, 116, 116, 0.49000000953674316) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(35, 35, 35, 0.9100000262260437);
}
.pragma-frame22 {
  width: 11px;
  height: 10px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: rgba(77, 77, 77, 1);
}
.pragma-bedfordrd {
  gap: 10px;
  display: flex;
  padding: 5px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pragma-text002 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Light;
  text-align: center;
  font-family: SF Pro Rounded;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  padding-right: 5px;
  text-decoration: none;
}
.pragma-footer {
  gap: 20px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pragma-frame4 {
  gap: 10px;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.pragma-text554 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: center;
  font-family: Syne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .pragma-pragma {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    animation-name: fadeIn;
    padding-bottom: 20px;
    animation-delay: 0s;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .pragma-frame20 {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .pragma-frame21 {
    justify-content: center;
  }
}
