@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.pragma-lets-out {
  margin: 0;
}
.ovlav-we-got-container {
  align-self: stretch;
  position: relative;
}
.body {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.vegee2 {
  position: relative;
  text-transform: lowercase;
  font-weight: 600;
}
.vegee-frame {
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.footer,
.pragmathe-hunt-that-took-my-b {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xs);
  font-family: var(--font-reem-kufi);
}
.pragmathe-hunt-that-took-my-b {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-8xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-turret-road);
}
.pragmathe-hunt-that-took-my-b.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
