@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.taking-it-easy {
  position: relative;
  text-transform: uppercase;
}
.h1 {
  width: 390px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.you-just-finished {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.keep-reading-if {
  margin: 0;
}
.you-just-finished-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  font-family: var(--font-turret-road);
  text-align: left;
}
.boxx {
  width: 410px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.crumpled-papers-and,
.i-try-writing-container {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.i-try-writing-container {
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  font-family: var(--font-turret-road);
}
.boxx6 {
  width: 410px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
}
.vegee4 {
  position: relative;
  text-transform: lowercase;
  font-weight: 600;
}
.ss,
.ss-inner,
.vegee-wrapper1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.vegee-wrapper1 {
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.ss,
.ss-inner {
  justify-content: flex-start;
}
.ss-inner {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xs);
}
.ss {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: 40px var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.ss.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
