.sticksandstones-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-andwhenimallalone {
  gap: 10px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  padding-top: 20px;
  padding-left: 30px 0;
  padding-right: 30px 0;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: rgba(18, 18, 18, 1);
}
.sticksandstones-header {
  gap: 101px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.sticksandstones-frame20 {
  display: flex;
  padding: 20px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.sticksandstones-link {
  display: contents;
}
.sticksandstones-frame16 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px rgba(49, 49, 49, 1) ;
  align-items: flex-start;
  border-radius: 14px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(18, 18, 18, 1);
}
.sticksandstones-text {
  color: rgba(188, 188, 188, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Syne;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sticksandstones-frame1 {
  gap: 25px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 00px;
  padding-left: 50px 0;
  padding-right: 50px 0;
  flex-direction: row;
  padding-bottom: 00px;
  justify-content: center;
}
.sticksandstones-navlink {
  display: contents;
}
.sticksandstones-cont1 {
  gap: 4px;
  display: flex;
  padding: 5px 5px 4px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(49, 49, 52, 0.8399999737739563) 47%, rgba(26, 26, 29, 0.8399999737739563) 100%);
  box-shadow: 0px 4px 13.699999809265137px -9px rgba(0, 0, 0, 1) ;
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  text-decoration: none;
}
.sticksandstones-words {
  gap: 10px;
  display: flex;
  padding: 1px 10px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.sticksandstones-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 7px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sticksandstones-navlink1 {
  display: contents;
}
.sticksandstones-cont2 {
  gap: 4px;
  display: flex;
  padding: 5px 5px 4px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(49, 49, 53, 0.8399999737739563) 47%, rgba(27, 27, 30, 0.8399999737739563) 100%);
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  text-decoration: none;
}
.sticksandstones-words1 {
  gap: 10px;
  display: flex;
  padding: 1px 10px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.sticksandstones-text03 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 7px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.sticksandstones-navlink2 {
  display: contents;
}
.sticksandstones-cont3 {
  gap: 4px;
  display: flex;
  padding: 5px 5px 4px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(49, 49, 53, 0.8399999737739563) 47%, rgba(27, 27, 30, 0.8399999737739563) 100%);
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  text-decoration: none;
}
.sticksandstones-words2 {
  gap: 10px;
  display: flex;
  padding: 1px 10px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.sticksandstones-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 7px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.sticksandstones-navlink3 {
  display: contents;
}
.sticksandstones-cont4 {
  gap: 4px;
  display: flex;
  padding: 5px 5px 4px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(49, 49, 53, 0.8399999737739563) 47%, rgba(27, 27, 30, 0.8399999737739563) 100%);
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  text-decoration: none;
}
.sticksandstones-words3 {
  gap: 10px;
  display: flex;
  padding: 1px 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.sticksandstones-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 7px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.sticksandstones-navlink4 {
  display: contents;
}
.sticksandstones-frame21 {
  gap: 10px;
  width: 22px;
  height: 18px;
  display: flex;
  padding: 4px 3px;
  overflow: hidden;
  box-shadow: 0px 2px 7.900000095367432px -1px rgba(116, 116, 116, 0.49000000953674316) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(35, 35, 35, 0.9100000262260437);
}
.sticksandstones-frame22 {
  width: 11px;
  height: 10px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: rgba(77, 77, 77, 1);
}
.sticksandstones-boxx {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-h1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Reem Kufi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.sticksandstones-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Light;
  text-align: center;
  font-family: SF Pro Rounded;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sticksandstones-boxx1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-h11 {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-text34 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Reem Kufi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.sticksandstones-text36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Light;
  text-align: center;
  font-family: SF Pro Rounded;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sticksandstones-boxx2 {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-h12 {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-text56 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Reem Kufi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.sticksandstones-text58 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Light;
  text-align: center;
  font-family: SF Pro Rounded;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sticksandstones-frame11 {
  gap: 20px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sticksandstones-frame4 {
  gap: 10px;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.sticksandstones-text94 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: center;
  font-family: Syne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .sticksandstones-andwhenimallalone {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sticksandstones-frame20 {
    padding: 20px;
  }
  .sticksandstones-frame1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .sticksandstones-andwhenimallalone {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sticksandstones-frame20 {
    padding: 20px;
  }
}
@media(max-width: 479px) {
  .sticksandstones-andwhenimallalone {
    flex: 1;
    padding-top: 20x;
    padding-bottom: 20x;
  }
  .sticksandstones-frame20 {
    padding: 20px;
    align-items: center;
  }
  .sticksandstones-text02 {
    color: rgb(255, 255, 255);
    font-size: 7px;
    font-family: Open Sans;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  .sticksandstones-text04 {
    text-transform: uppercase;
  }
  .sticksandstones-text06 {
    text-transform: uppercase;
  }
  .sticksandstones-text08 {
    text-transform: uppercase;
  }
  .sticksandstones-text34 {
    text-transform: uppercase;
  }
  .sticksandstones-text56 {
    text-transform: uppercase;
  }
}
