@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.taking-it-easy22 {
  position: relative;
  text-transform: uppercase;
}
.h157 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.ive-cried-on1 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.im-taking-it1 {
  margin: 0;
}
.ive-cried-on-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: lowercase;
  font-family: var(--font-turret-road);
  text-align: left;
}
.component1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.we-laughed-and-container1 {
  align-self: stretch;
  position: relative;
  text-transform: lowercase;
}
.body13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-mid);
  font-family: var(--font-turret-road);
}
.why-wont-you2 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.h170 {
  overflow: hidden;
  padding: var(--padding-3xs);
}
.body22,
.boxx62,
.h170 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body22 {
  font-size: var(--font-size-mid);
  font-family: var(--font-turret-road);
}
.boxx62 {
  overflow: hidden;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
}
.vegee-wrapper7 {
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.taking-it-easylight,
.taking-it-easylight-inner,
.vegee-wrapper7 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.taking-it-easylight-inner {
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs);
  font-size: var(--font-size-5xs);
  font-family: var(--font-syne);
}
.taking-it-easylight {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.taking-it-easylight.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
