@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-child {
  width: 91px;
  height: 94px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.switch,
.switch-child {
  text-decoration: none;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.switch-child {
  width: 11px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-black);
  height: 10px;
}
.switch {
  width: 22px;
  border-radius: var(--br-4xs);
  background-color: #2c2c2c;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-10xs);
  box-sizing: border-box;
}
.vid {
  position: relative;
  text-transform: uppercase;
}
.switch-parent,
.vid-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.vid-wrapper {
  text-decoration: none;
  box-shadow: 0 0 0 3px #404040;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl);
  cursor: pointer;
  color: inherit;
}
.switch-parent {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.header4,
.pragma40 {
  align-self: stretch;
  overflow: hidden;
}
.header4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs);
}
.pragma40 {
  border-radius: var(--br-mini);
  height: 444.3px;
  flex-shrink: 0;
  background-image: url(./public/pragma1@3x.png);
}
.awiaa,
.pragma40,
.tie {
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.awiaa {
  align-self: stretch;
  border-radius: var(--br-mini);
  height: 444.3px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/awiaa1@3x.png);
}
.tie {
  background-image: url(./public/tie@3x.png);
}
.sdrwsl,
.sdrwsl-icon,
.tie {
  align-self: stretch;
  border-radius: var(--br-mini);
  overflow: hidden;
  height: 444.3px;
  flex-shrink: 0;
}
.sdrwsl {
  text-decoration: none;
  background-image: url(./public/sdrwsl2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.sdrwsl-icon {
  max-width: 100%;
  object-fit: cover;
}
.tags {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-6xl);
}
.footer1,
.homedark,
.tags,
.vegee-wrapper3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.vegee-wrapper3 {
  border-radius: var(--br-3xs);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.footer1,
.homedark {
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-5xs);
}
.homedark {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-syne);
}
.homedark.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
