body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-reem-kufi: "Reem Kufi";
  --font-tourney: Tourney;

  /* Colors */
  --color-black: #000;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-8xs: 5px;
}
