@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bedfordLn {
  position: relative;
  text-transform: uppercase;
}
.pragmaAndMatilda {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-turret-road);
}
.one {
  align-self: stretch;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 1px 3px 7.1px -3px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.theHuntThat {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.vegee {
  position: relative;
  text-transform: lowercase;
  font-weight: 600;
}
.vegeeWrapper {
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.pragmachapters,
.pragmachaptersInner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pragmachaptersInner {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-xs);
}
.pragmachapters {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: 60px var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: 40px;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-reem-kufi);
}
.pragmachapters.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
